<mat-toolbar color="primary">
  <a mat-button routerLink="/" routerLinkActive="mat-accent">Home</a>
  <a mat-button routerLink="/watchlist" routerLinkActive="mat-accent"
    >Watchlist</a
  >
  <a
    mat-button
    color="accent"
    routerLink="/create"
    routerLinkActive="mat-accent"
  >
    Add Company
  </a>
  <span class="spacer"></span>
  <ng-container class="logout" *ngIf="authService.isAuthenticated$ | async">
    <button
      mat-raised-button
      color="warn"
      (click)="authService.logout({ returnTo: document.location.origin })"
    >
      Logout
    </button>
  </ng-container>
</mat-toolbar>
