<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveCompany()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="ticker"
        name="ticker"
        placeholder="Company Ticker"
      />
      <mat-error> Please enter a ticker. </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="name"
        name="name"
        placeholder="Company Name"
      />
      <mat-error> Please enter a name. </mat-error>
    </mat-form-field>
    <span class="spacer"></span>
    <div class="save">
      <button mat-raised-button color="accent" type="submit">
        Save Company
      </button>
    </div>
  </form>
</mat-card>
<app-income-statement></app-income-statement>
